<br>
<br>
<br><br><br>


<h1 class="games-title-show"><%= @game.spaced_name %></h1>

<div class="pic-games-show"><img src="<%= @game.pic%>">
</div>






<div class="games-show-caption"><p>
  <%= @game.caption %>
</p></div>

<p>
  <strong>Summary:</strong>
  <%= @game.summary %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @game.pic %>
</p>

<p>
  <strong>Link:</strong>
  <%= @game.link %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
